/* Mobile Phones/Universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F5F5DD;
}

header {
    border: 5px solid #90664B;
    width: 100%;
    height: 10vh;
    font-size: 1rem;
    padding: 0px 20px;
    display: flex;
    align-items: center;
}

footer {
    border: 5px solid #90664B;
    width: 100%;
    height: 10vh;
    font-size: 1rem;
    padding: 0px 20px;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
    display: contents;
}

body {
    animation: fadeIn .5s ease-out;
}
/* Keyframes */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Header Elements */
.logo_circle {
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
    border: 3px solid #AFCB8E;
    margin-right: 10px;
}

.nav_box {
    width: 40vw;
    margin-left: auto;
    align-items: center;
    padding: 5px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
}

.nav_box2 {
    width: 40vw;
    margin-left: auto;
    align-items: center;
    padding: 5px 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: stretch;
}

.nav_link_box {
    width:auto;
    height: 4vh;
    border: 3px solid #AFCB8E;
    padding: auto;
    text-align: center;
    font-size: 8pt;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.nav_link_box:hover {
    background-color: #AFCB8E;
    transform: translateY(-5px);
}

.nav_link_box p {
    background-color: inherit;
}

/* Body Elements */
/* Today's Favorite Box Elements*/
.favorite_box {
    width: 70vw;
    height:20vh;
    margin: 80px auto;
    padding: 0px 20px;
    border: 3px solid #90664B;
    align-items: center;
}

.favorite_heading_box {
    width: 40vw;
    height: 3vh;
    margin: 0px auto;
    border: 3px solid #90664B;
    border-top: none;
}

.favorite_info_box {
    width: 64vw;
    height: 12vh;
    margin: 10px auto;
    display: flex;
}

.favorite_img_box {
    width: 20vw;
    height: 12vh;
    border: 3px solid #AFCB8E;
}

.favorite_text_box {
    width: 40vw;
    height: 12vh;
    border: 3px solid black;
    margin: 0px auto;
}

/* Recipe Genre Boxes*/
.genre_page_container {
    width: 90vw;
    margin: 25px auto 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.genre_page_box {
    height: 12vh;
    border: 3px solid #AFCB8E;
    transition: transform 0.3s ease;
}

.genre_page_box:hover {
    transform: translateY(-5px);
}

.about_box {
    width: 40vw;
    height: 10vh;
    margin: 0px auto;
    border: 3px solid #90664B;
    margin-bottom: 50px;
}

.about_box > h2 {
    font-size: 12pt;
}

/* Recipe Page*/
.headerp1 {
    border: 5px solid #90664B;
    width: 100%;
    height: 10vh;
    font-size: 1rem;
    padding: 0px 20px;
    display: flex;
    align-items: center;
}

.title_box {
    width: auto;
    height: auto;
    margin-right: 100px;
    font-size: 10pt;
}

.title_box > h1{
    font-size: 18pt;
}

/* Body Elements*/
.genre_tab_box {
    width: 70vw;
    height:12vh;
    margin: 50px auto;
    padding: 0px 20px;
    border: 3px solid #AFCB8E;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 32pt;
    transition: transform .3s ease;
}

.genre_tab_box:hover {
    transform: translateY(-5px) scale(1.2);
}

/* Breakfast Page */
.recipe_title_box {
    width: 60vw;
    height: 10vh;
    margin: 50px auto;
    border: 3px solid #90664B;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipe_box {
    width: 70vw;
    height: 15vh;
    margin: 50px auto;
    padding: 20px 20px;
    border: 3px solid #AFCB8E;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 24pt;
    transition: transform .3s ease;
}

.recipe_box:hover {
    transform: translateY(-5px) scale(1.2);
}

.recipe_img_box {
    width: 20vw;
    height: 8vh;
    border: 3px solid #AFCB8E;
    margin-right: 80px;
}

/* Modal */
/* This Modal is made through pure CSS, however, it is not ours*/
/* This CSS was provided through https://webdesign.tutsplus.com/css-only-modal--cms-107772t*/
/* The reasoning for the use of outside of code was due to our current understanding of CSS not being able to create a modal from scratch*/
/* The problem this code snippet solves is the reduction of unnecessary and redundant HTML pages, what we mean is that originally we had planned to make 15 recipe pages for all inputted recipes*/
/* The 15 separate HTML would've heavily slowed our progress when it came to code development, we surmised that using a pop-up-like object we could reduce the time put into development while being overall more efficient*/
/* This modal would generate a pop-up page that displays desired recipe information without generating separate HTML pages*/
.modal-btn {
  transition: background 250ms;
  padding: 20px 24px;
  border-radius: 4px;
  background-color: #AFCB8E;
  color: #fcfcfc;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.1em;
  margin: 20px 0px 20px;
  display: inline-block;
  text-decoration: none;
  align-self: center;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #90664B;
}

.modal {
  position: fixed;
  min-height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  z-index: 2;
}

.modal:not(:target) {
  visibility: hidden;
  transition-delay: 500ms;
  transition-property: visibility;
}

.modal:target .modal-content {
  transform: translateY(100vh);
  animation: 500ms ease-in-out slideUp forwards;
}

.modal:not(:target) .modal-content {
  transform: translateY(0);
  animation: 500ms ease-out slideDown forwards;
}

.modal:target .modal-overlay {
  opacity: 0;
  animation: 500ms linear fadeIn forwards;
}

.modal:not(:target) .modal-overlay {
  opacity: 1;
  animation: 500ms linear fadeOut forwards;
}

.modal-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
}

.modal-content {
  transition: transform 1s;
  background: #fff;
  width: 75%;
  position: relative;
  margin: auto;
  height: 75%;
  padding: 48px 24px;
  border-radius: 4px;
  max-width: 1000px;
}

.modal-close {
  font-size: 36px;
  text-decoration: none;
  color: inherit;
  position: absolute;
  right: 24px;
  top: 10px;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100vh);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(100vh);
  }
}

/* Desktop */
@media (min-width: 1024px) {
    /* Universal Elements */
    header, footer {
        height: 15vh;
        font-size: 1.5rem;
        padding: 0px 30px;
    }

    /* Modal */
    .modal-btn {
        transition: background 250ms;
        padding: 48px 80px;
        border-radius: 4px;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 0.1em;
        margin: 20px 20px;
        display: inline-block;
        text-decoration: none;
        align-self: center;
    }

    /* Header Elements */
    .logo_circle {
        width: 60px;
        height: 60px;
    }

    .nav_box {
        width: 300px;
        height: 60px;
        margin-left: 400px;
        align-items: center;
        padding: 5px 0px;
        display: flex;
    }

    .nav_link_box {
        width: 60px;
        height: 30px;
        border: 3px solid #AFCB8E;
        margin: 0px auto;
        text-align: center;
        font-size: 12pt;
    }

    /* Body Elements */
    /* Today's Favorite Box Elements */
    .favorite_box {
        width: 500px;
        height:250px;
        margin: 50px auto;
        padding: 0px 20px;
        border: 3px solid #90664B;
        align-items: center;
    }

    .favorite_heading_box {
        width:150px;
        height: 25px;
        margin: 0px auto;
        border: 3px solid #90664B;
        border-top: none;
    }

    .favorite_info_box {
        width: 450px;
        height: 180px;
        margin: 10px auto;
        display: flex;
    }

    .favorite_img_box {
        width: 150px;
        height: 180px;
        border: 3px solid #AFCB8E;
    }

    .favorite_text_box {
        width: 250px;
        height: 180px;
        border: 3px solid black;
        margin: 0px auto;
    }

    /* Recipe Genre Boxes */
    .genre_page_container {
        width: 90vw;
        margin: 50px auto;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 30px;
    }

    .genre_page_box {
        height: 180px;
        border: 3px solid #AFCB8E;
    }

    .about_box {
        width: 500px;
        height:250px;
        margin: 50px auto;
        padding: 0px 20px;
        border: 3px solid #90664B;
        align-items: center;
        text-align: center;
    }

    .about_box > h2 {
        font-size: 24pt;
    }

    /* Recipe Page*/
    /* Header Elements */
    .headerp1 {
        height: 20vh;
        font-size: 1.5rem;
        padding: 0px 30px;
    }

    .title_box {
        width: auto;
        height: auto;
        margin-right: 100px;
        font-size: 16pt;
    }

    .title_box > h1{
        font-size: 32pt;
    }

    /* Body Elements*/
    .genre_tab_box {
        width: 600px;
        height:150px;
        margin: 50px auto;
        padding: 0px 20px;
        border: 3px solid #AFCB8E;
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 50pt;
    }

    /* Recipe: Genre Page */
    .recipe_title_box {
        width: 40vw;
        height: 15vh;
        margin: 50px auto;
        border: 3px solid #90664B;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .recipe_box {
        width: 70vw;
        height: 25vh;
        margin: 50px auto;
        padding: 20px 20px;
        border: 3px solid #AFCB8E;
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 24pt;
    }

    .recipe_img_box {
        width: 20vw;
        height: 18vh;
        border: 3px solid #AFCB8E;
        margin-right: 150px;
    }
}
